{% extends 'app/default.html' %}
{% block title %}
{% load custom_filters %}
{{post_title|censor}}
{% endblock %}
{% block content %}
<br>
<div class="card">
    <h5 class="card-header">{{ post_title }}</h5>
    <div class="card-body">
        {% if post_photo %}
        <img src="{{post_photo.url}}" align="right" width="40%">
        {% endif %}
        <p class="card-text">{% filter censor|linebreaks %}{{ post_text }}{% endfilter %}</p>
        <em><b>{{ post_author.author_user.username}} </b> {{ post_date|date:"d.m.Y H:i" }}</em>
    </div>
</div>
<br>

{% endblock %}