{% extends 'app/default.html' %}
{% block title %}
{% load custom_filters %}
{{post_title|censor}}
{% endblock %}
{% block content %}
<br>

    <div class="alert alert-info">
        <div class="container">
             <h5>{{ post_title|censor }}</h5>
            {% if post_photo %}
            <img src="{{post_photo.url}}" align="right" width='55%' >
            {% endif %}
            <p>{% filter censor|linebreaks %}{{ post_text}}{% endfilter %}</p>
            <em><b>{{ post_author_id}} </b> {{ post_date|date:"d.m.Y H:i" }}</em>
        </div>
    </div>

{% endblock %}